<!DOCTYPE html>
{% include "app/main.html" %}
{% block content %}
    <div class="index_content">
        <div class="content_add">
            <div class="div1">
                <ul>
                <li><a href="javascript:void(0);">最热</a></li>
                <li><a href="javascript:void(0);">发现</a></li>
                <li><a href="javascript:void(0);">人类发布</a></li>
                </ul>
            </div>
            <div class="div2">
                {% if request.session.user_session %}
                    <div class="fabu"><button data-toggle="modal" data-target="#new_news" data-whatever="@mdo" ><b>+</b> 发布</button></div>
                {% else %}
                    <div class="fabu"><button data-toggle="modal" data-target="#login_info" data-whatever="@mdo" onclick="NoLogin();"><b>+</b> 发布</button></div>
                {% endif %}

            </div>
        </div>
        <hr/>
        <div class="show_news">
            {% if show_news %}
                {% for item in show_news.values %}
                    <div class="news_info">
                        <input type="hidden" class="news_id" value="{{ item.id }}"/>
                        <div class="news_title"><a href="javascript:;">{{ item.title }}</a></div>
                        <div class="news_content">{{ item.content }}</div>
                        <div class="others">
                            {% if request.session.user_session  %}
                                <input type="hidden" value="{{ item.dianzan_status}}"/>
                                <input type="hidden" class="user_current" value="{{ request.session.user_session.login_user }}"/>
                                {% if not item.dianzan_status %}
                                    <span class="dianzan" onclick="Dianzan(this);"></span>
                                {% else %}
                                    <span class="dianzan_already" onclick="Dianzan(this);"></span>
                                {% endif %}
                            {% else %}
                                <span class="please_login" onclick="NoLogin();"></span>
                            {% endif %}

                            <i class="pinglun"></i>
                        </div>

                    </div>
                    <hr/>
                {% endfor %}
            {% endif %}

        </div>
    </div>

    <div class="modal fade" id="new_news" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" id="new_news_cancle">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">新文章发布</h4>
          </div>
          <div class="modal-body">
              {% if request.session.user_session %}
                <input id ="current_user" type="hidden" value="{{ request.session.user_session.login_user }}"/>
              {% endif %}
              <div class="form-group">
                <label for="recipient-name" class="control-label">标题:</label>
                <input type="text" class="form-control" id="news_title"><span id="title_error"></span>
              </div>
              <div class="form-group">
                <label for="message-text" class="control-label">文章内容:</label>
                <textarea class="form-control" id="news_content"></textarea><span id="content_error"></span>
              </div>
          </div>
          <div class="modal-footer" style="position: relative">
            <span id="publish_error" style="position: absolute;left: 20px;"></span>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="new_news_button_cancle">取消</button>
            <button type="button" class="btn btn-primary" id="new_news_button">发布</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
